* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.full-width {
    width: 100%;
}

.no-wrap {
    white-space: nowrap;
}

.card { 
    aspect-ratio: 3.5/2;
    width: 50vw;
    max-width: 550px;
    min-width: 320px;
    perspective: 1000px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 4px black solid;
}

.card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    color: black;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex: 1;

}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.name {
    text-align: center;
}

.list {
    list-style-type: none;
}

.mail {
    text-align: center;
    color: #575757;
    margin: 1em 0;
    transition: all 0.5s ease;
    font-size: 2em;
}

.mail:hover {
    color: darkgray;
}

.list-item {
    text-align: center;
    margin: 0.4em 0;
}

.list-item a {
    text-decoration: none;
    color: #575757;
    padding: 0.1em;
    white-space: nowrap;
    border-bottom: 2px gray solid;
    transition: all 0.5s ease;
}

.list-item a:hover {
    border-bottom: 2px darkgray solid;
    color: darkgray;
}

@media (max-width: 900px) {
    
    .card {
        width: 90vw;
    }
}
@media (max-width: 756px) {
    .mail {
        font-size: 1.2em;
    }
}
